div.nav{
	height: 630px;
}
nav div.link{
	background-color: rgba(255,255,255,.2);
}
div.detail{
	height: 630px;
}
button#addPartner , button#delPartner , button#addCompany , button#delCompany{
	height: 35px;
	background-color: #f8f8f8;
	width: 150px;
}
button span{
	font-size: 16px;
	font-weight: bold;
}
button#addPartner{
	position: absolute;
	left: 20px;
	top: 20px;
}
button#delPartner{
	position: absolute;
	right: 0px;
	top: 20px;
}
div.partner-part , div.company-part{
	height: 260px;
	margin-left: 20px;
	margin-top: 55px;
	padding: 0px 10px;
	background-color: #f8f8f8;
    border: solid gainsboro 1px;
}
button#addCompany{margin-top: 20px;
	position: absolute;
	left: 20px;
	margin-top: 20px;
}
button#delCompany{
	position: absolute;
	right: 0px;
	margin-top: 20px;
}
td img{
	height: 25px;
	width: 100px;
}

