body{
	font-family: "微软雅黑";
}
header p{
	font-size: 30px;
	margin: 54px 0;
}
div.container{
	margin:100px auto;
	padding: 0;
	width: 1000px;
}
header{
	height: 150px;
	border: solid gainsboro 1px;
    background: #f8f8f8;
}
div.main-row{
	margin: 0;
}
div.nav{
	width: 160px;
	padding-right: 0px;
	height: 560px;
	background-color: #333;
}
nav{
	padding-top: 50px;
}
h1{
	height: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
	font-size: 20px;
	color: #fff;
}
h1 a{
	display: block;
    height: inherit;
    padding-top: 9px;
}
h1 a:link,h1 a:visited{
	text-decoration:none;
    color: #fff;
}
nav div{
    margin-bottom: 50px;
    padding: 0px;
    height: 40px;
}
nav div:hover{
	background-color: rgba(255,255,255,.1);
}
nav p{
	font-size: 20px;
}
div.detail{
	padding: 0;
    height: 560px;
	width: 840px;  
	border: solid gainsboro 1px;
	background-color: #E6E6E6;
}
h2{
	font-size: 16px;
	font-weight: bold;
}
footer{
	height: 70px;
	padding-top: 10px;
    background: #f8f8f8;
    border: solid gainsboro 1px;
}
