nav div.instrument{
	background-color: rgba(255,255,255,.2);
}
div.section{
	height: 250px;
	padding: 0;
	margin-left: 20px;
	background: #f8f8f8;
    border: solid gainsboro 1px;
}
div.detail div.row{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
}
div.detail>div.row{
	margin-top: 20px;
}
div.detail div.col-md-9{
    width: 600px;
    padding: 0;
}
div.activity-article{
	overflow: scroll;
    overflow-x: hidden;
}
div.detail div.col-md-3{
    overflow: scroll;
    overflow-x: hidden;
    width: 180px;
    padding: 0;
}
div.activity-article h2{
	padding-left: 20px;
}
div.describe p{
	padding-left: 20px;
}
div.describe ul{
	padding-left: 280px;
}
ol.article-list {
	list-style-position: inside;
    padding-left: 10px;
    padding-right: 10px;
}
ol.article-list li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol.article-list li a{
	text-decoration: none;
	color: black;
}
div.activity-article table{
    width: 93.33%;
    margin: 0 20px;
}
ol.news-part {
	list-style-position: inside;
    padding-left: 10px;
    padding-right: 10px;
}
ol.news-part li{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ol.news-part li a{
	text-decoration: none;
	color: black;
}
#newsTime{
	display: block;
	text-align: right;
}
